/**
 * This stylesheet is used to print reveal.js
 * presentations to PDF.
 *
 * https://github.com/hakimel/reveal.js#pdf-export
 */

* {
	-webkit-print-color-adjust: exact;
}

body {
	margin: 0 auto !important;
	border: 0;
	padding: 0;
	float: none !important;
	overflow: visible;
}

html {
	width: 100%;
	height: 100%;
	overflow: visible;
}

/* Remove any elements not needed in print. */

/* SECTION 2: Remove any elements not needed in print.
   This would include navigation, ads, sidebars, etc. */
/*>>>>>>> Update pdf and UT theme*/
.nestedarrow,
.reveal .controls,
.reveal .progress,
.reveal .playback,
.reveal .footer,
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
	display: none !important;
}

/* SECTION 3: Set body font face, size, and color.
   Consider using a serif font for readability. */
body, p, td, li, div {
	font-size: 18pt;
    color: #333F48 !important;
}

/* SECTION 4: Set heading font face, sizes, and color.
   Differentiate your headings from your body text.
   Perhaps use a large sans-serif for distinction. */
h1,h2,h3,h4,h5,h6 {
    color: #BF5700 !important;
	text-shadow: 0 0 0 #000 !important;
}

/* SECTION 5: Make hyperlinks more usable.
   Ensure links are underlined, and consider appending
   the URL to the end of the link for usability. */
/*a:link,*/
/*a:visited {*/
	/*font-weight: normal;*/
	/*text-decoration: underline;*/
/*}*/

.reveal pre code {
	overflow: hidden !important;
	font-family: Courier, 'Courier New', monospace !important;
}


/* SECTION 6: more reveal.js specific additions by @skypanther */
ul, ol, div, p {
	visibility: visible;
	position: static;
	width: auto;
	height: auto;
	display: block;
	overflow: visible;
	margin: auto;
}
.reveal {
	width: auto !important;
	height: auto !important;
	overflow: hidden !important;
}
.reveal .slides {
	position: static;
	width: 100%;
	height: auto;

	left: auto;
	top: auto;
	margin: 0 !important;
	padding: 0 !important;

	overflow: visible;
	display: block;

	-webkit-perspective: none;
	   -moz-perspective: none;
	    -ms-perspective: none;
	        perspective: none;

	-webkit-perspective-origin: 50% 50%; /* there isn't a none/auto value but 50-50 is the default */
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}

.reveal .slides section {

	page-break-after: always !important;

	visibility: visible !important;
	position: relative !important;
    width: 100% !important;
    height: 203.7mm !important;
    min-height: 1mm !important;
	display: block !important;
    overflow: hidden !important;

    left: 0 !important;
    top: 0 !important;
	margin: 0 !important;
    padding: 2cm 2cm 0 2.5cm !important;
	box-sizing: border-box !important;

	opacity: 1 !important;

	-webkit-transform-style: flat !important;
	   -moz-transform-style: flat !important;
	    -ms-transform-style: flat !important;
	        transform-style: flat !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}

.reveal section.stack {
	margin: 0 !important;
	padding: 0 !important;
	page-break-after: avoid !important;
	height: auto !important;
	min-height: auto !important;
}

.reveal img {
	box-shadow: none;
}

.reveal .roll {
	overflow: visible;
	line-height: 1em;
}

.reveal .absolute-element {
	margin-left: 2.2cm;
	margin-top: 1.8cm;
}
.reveal section .fragment {
	opacity: 1 !important;
	visibility: visible !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}
.reveal section .slide-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

/* All elements should be above the slide-background */
.reveal section>* {
	position: relative;
	z-index: 1;
}
.reveal img {
	box-shadow: none;
}
.reveal .roll {
	overflow: visible;
	line-height: 1em;
}
.reveal small a {
	font-size: 16pt !important;
}

/* Display slide speaker notes when 'showNotes' is enabled */
.reveal .speaker-notes-pdf {
	display: block;
	width: 100%;
	max-height: none;
	left: auto;
	top: auto;
	z-index: 100;
}

/* Display slide numbers when 'slideNumber' is enabled */
.reveal .slide-number-pdf {
	display: block;
	position: absolute;
	font-size: 14px;
}

.reveal .pdf-footer {
  display: block !important;
  position: absolute;
  bottom: -0.25em;
  left: 0.25em;
  z-index: -1;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
